/* Estilo general del cuerpo */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 1rem; /* Tamaño base para fuentes (1rem = 16px por defecto) */
  line-height: 1.5;
  color: #333;
  background-color: #EDEFEE;
  display: grid;
  min-height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
